@import './bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

body {
    /* background-image: url("https://2.bp.blogspot.com/-dVG05eV5aas/Us04aMqkBRI/AAAAAAAAAxE/ZTj9mOywmiw/s1600/python2.jpg"); */
    background-image: url('../img/python_bg.jpg');
    background-size: cover;
    background-position: bottom right;
    min-height: 100vh;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

div {
    margin-top: 48px;
    margin-bottom: 48px;
}

#span {
    margin-top: 48px;
}